In [ ]:
#### INSERTING IMAGES

In [ ]:
import mysql.connector as msq
con=msq.connect(host="localhost",database="demo1",user="root",password="root")
cur=con.cursor()

In [ ]:
## CREATING TABLE USING BLOB DATATYPE
cur.execute("""create table images(   
id int PRIMARY KEY,data MEDIUMBLOB)""")

In [ ]:
### INSERT IMAGE
with open("bg.png", encoding="utf8",errors="ignore") as photo : ## ENCODING METHOD UTF8 AND ALSO TO IGNORE ERRORS
 show_photo=photo.read()
cur.execute("insert into images values(1,%s)",(show_photo,))
con.commit()