In [11]:
import mysql.connector as msq
con=msq.connect(host="localhost",database="demo1",user="root",password="root")
cur=con.cursor()

In [12]:
query="""INSERT INTO table1
          VALUES('NAME2','PASS2','SENT2','SONG2')"""
cur.execute(query)
con.commit()
con.close()
print("values inserted succesfully")

values inserted succesfully