In [ ]:
import pymongo
from pymongo import MongoClient
client=MongoClient()
print(client)

In [ ]:
print(client.database_names())
db=client.newdb

In [ ]:
## collection
collection=db.collection
collection1=db.collection1 ## this one for index

In [ ]:
### inserting many
array_courses=[
  {
    "name": "Max Schwarzmueller",
    "age": 29
  },
  {
    "name": "Manu Lorenz",
    "age": 30
  },
  {
    "name": "Chris Hayton",
    "age": 35
  },
  {
    "name": "Sandra Brugge",
    "age": 33
  },
  {
    "name": "Elisabeth Mayr",
    "age": 29
  },
  {
    "name": "Frank Cube",
    "age": 41
  },
  {
    "name": "Karandeep Alun",
    "age": 48
  },
  {
    "name": "Michaela Drayer",
    "age": 39
  },
  {
    "name": "Bernd Hoftstadt",
    "age": 22
  },
  {
    "name": "Scott Tolib",
    "age": 44
  },
  {
    "name": "Freddy Melver",
    "age": 41
  },
  {
    "name": "Alexis Bohed",
    "age": 35
  },
  {
    "name": "Melanie Palace",
    "age": 27
  },
  {
    "name": "Armin Glutch",
    "age": 35
  },
  {
    "name": "Klaus Arber",
    "age": 53
  },
  {
    "name": "Albert Twostone",
    "age": 68
  },
  {
    "name": "Gordon Black",
    "age": 38
  }
]
result=collection.insert_many(array_courses)
result1=collection1.insert_many(array_courses)

#if result.acknowledged:
 #   print("Docs added ids are..",result.inserted_ids)
for object_id in result.inserted_ids:
    print(object_id)

In [ ]:
print(db.collection1.count_documents({}))

In [ ]:
### AGgregate
print(list(collection.aggregate([
    {
        "$group":{
            '_id':'$name', ##cmplsry
            'avg_Age':{'$avg':'$age'}
        }
    }
])))

In [ ]:
#### Creating Index
collection1.create_index([('name',1)],unique=True)