In [1]:
import pymongo
import pprint

In [2]:
## establish connection
from pymongo import MongoClient
client=MongoClient()
print(client)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:

'''
client=MongoClient("Localhost",27017)
client=MongoClient("mongodb://localhost:27107")

'''
###check Databases
print(client.list_database_names())

['admin', 'config', 'flight', 'local', 'newdb', 'shop', 'test_database']

In [4]:
###create DB
db=client.test_database ## client['test-database']
print(db)
print(db.list_collection_names())

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database')
['courses']

In [5]:
###collection
courses=db.courses  #db['course']
print(courses)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database'), 'courses')

### CREATE

In [6]:
 ### insert doc
course={"author":"harsh","course":"mongo-tut",'price':100}
result=courses.insert_one(course)
if result.acknowledged:
    print("Doc added Id is..",result.inserted_id)

Doc added Id is.. 5f585c531086228577f6e16d

In [7]:
### inserting many
array_courses=[
  {
    "name": "Max Schwarzmueller",
    "age": 29
  },
  {
    "name": "Manu Lorenz",
    "age": 30
  },
  {
    "name": "Chris Hayton",
    "age": 35
  },
  {
    "name": "Sandra Brugge",
    "age": 33
  },
  {
    "name": "Elisabeth Mayr",
    "age": 29
  },
  {
    "name": "Frank Cube",
    "age": 41
  },
  {
    "name": "Karandeep Alun",
    "age": 48
  },
  {
    "name": "Michaela Drayer",
    "age": 39
  },
  {
    "name": "Bernd Hoftstadt",
    "age": 22
  },
  {
    "name": "Scott Tolib",
    "age": 44
  },
  {
    "name": "Freddy Melver",
    "age": 41
  },
  {
    "name": "Alexis Bohed",
    "age": 35
  },
  {
    "name": "Melanie Palace",
    "age": 27
  },
  {
    "name": "Armin Glutch",
    "age": 35
  },
  {
    "name": "Klaus Arber",
    "age": 53
  },
  {
    "name": "Albert Twostone",
    "age": 68
  },
  {
    "name": "Gordon Black",
    "age": 38
  }
]
result=courses.insert_many(array_courses)
#if result.acknowledged:
 #   print("Docs added ids are..",result.inserted_ids)
for object_id in result.inserted_ids:
    print(object_id)

5f585c531086228577f6e16e
5f585c531086228577f6e16f
5f585c531086228577f6e170
5f585c531086228577f6e171
5f585c531086228577f6e172
5f585c531086228577f6e173
5f585c531086228577f6e174
5f585c531086228577f6e175
5f585c531086228577f6e176
5f585c531086228577f6e177
5f585c531086228577f6e178
5f585c531086228577f6e179
5f585c531086228577f6e17a
5f585c531086228577f6e17b
5f585c531086228577f6e17c
5f585c531086228577f6e17d
5f585c531086228577f6e17e

In [8]:
##count Docss in collection..
print(db.courses.count_documents({}))

18

In [9]:
#for object_id in result.inserted_ids:
 #   print(object_id)

### READ

In [10]:
### retrieve data
"""courses=courses.find({'age':{'$gt':2}}) ##it will return cursor
for course in courses:
    print(course)
    #pprint.pprint(course)"""

"courses=courses.find({'age':{'$gt':2}}) ##it will return cursor\nfor course in courses:\n    print(course)\n    #pprint.pprint(course)"

In [11]:
### Sort,SKip,limit
#courses=courses.find().sort('age',1) ##-1 for descending
courses=courses.find().sort([('author',1),('name',-1)]).limit(1).skip(10) #sort on mutli condtion
### we can put ".limit(2) after find() to limit number of docs"
for course in courses:
    pprint.pprint(course)
    ##eleventh doc after sorting

{'_id': ObjectId('5f585c531086228577f6e173'), 'age': 41, 'name': 'Frank Cube'}

### UPDATE

In [12]:
courses.update({'course':'mongo-tut'},{'$set':{'course':'mongodb'}})

AttributeError: 'Cursor' object has no attribute 'update'

### DELETE

In [ ]:
courses.delete_one({''})