In [1]:
import pymongo
import pprint

In [2]:
## establish connection
from pymongo import MongoClient
client=MongoClient()
print(client)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:

'''
client=MongoClient("Localhost",27017)
client=MongoClient("mongodb://localhost:27107")

'''
###check Databases
print(client.list_database_names())

['admin', 'config', 'flight', 'local', 'shop', 'test_database']

In [4]:
###create DB
db=client.test_database ## client['test-database']
print(db)
print(db.list_collection_names())

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database')
['courses']

In [5]:
###collection
courses=db.courses  #db['course']
print(courses)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database'), 'courses')

### CREATE

In [ ]:
 ### insert doc
course={"author":"harsh","course":"mongo-tut",'price':100}
result=courses.insert_one(course)
if result.acknowledged:
    print("Doc added Id is..",result.inserted_id)

In [7]:
### inserting many
array_courses=[
  {
    "name": "Max Schwarzmueller",
    "age": 29
  },
  {
    "name": "Manu Lorenz",
    "age": 30
  },
  {
    "name": "Chris Hayton",
    "age": 35
  },
  {
    "name": "Sandra Brugge",
    "age": 33
  },
  {
    "name": "Elisabeth Mayr",
    "age": 29
  },
  {
    "name": "Frank Cube",
    "age": 41
  },
  {
    "name": "Karandeep Alun",
    "age": 48
  },
  {
    "name": "Michaela Drayer",
    "age": 39
  },
  {
    "name": "Bernd Hoftstadt",
    "age": 22
  },
  {
    "name": "Scott Tolib",
    "age": 44
  },
  {
    "name": "Freddy Melver",
    "age": 41
  },
  {
    "name": "Alexis Bohed",
    "age": 35
  },
  {
    "name": "Melanie Palace",
    "age": 27
  },
  {
    "name": "Armin Glutch",
    "age": 35
  },
  {
    "name": "Klaus Arber",
    "age": 53
  },
  {
    "name": "Albert Twostone",
    "age": 68
  },
  {
    "name": "Gordon Black",
    "age": 38
  }
]
result=courses.insert_many(array_courses)
if result.acknowledged:
    print("Docs added ids are..",result.inserted_ids)

Docs added ids are.. [ObjectId('5f578fbf00b15a19c526f4d8'), ObjectId('5f578fbf00b15a19c526f4d9'), ObjectId('5f578fbf00b15a19c526f4da'), ObjectId('5f578fbf00b15a19c526f4db'), ObjectId('5f578fbf00b15a19c526f4dc'), ObjectId('5f578fbf00b15a19c526f4dd'), ObjectId('5f578fbf00b15a19c526f4de'), ObjectId('5f578fbf00b15a19c526f4df'), ObjectId('5f578fbf00b15a19c526f4e0'), ObjectId('5f578fbf00b15a19c526f4e1'), ObjectId('5f578fbf00b15a19c526f4e2'), ObjectId('5f578fbf00b15a19c526f4e3'), ObjectId('5f578fbf00b15a19c526f4e4'), ObjectId('5f578fbf00b15a19c526f4e5'), ObjectId('5f578fbf00b15a19c526f4e6'), ObjectId('5f578fbf00b15a19c526f4e7'), ObjectId('5f578fbf00b15a19c526f4e8')]

In [8]:
##count Docss in collection..
print(db.courses.count_documents({}))

18

In [9]:
#for object_id in result.inserted_ids:
 #   print(object_id)

### READ

In [10]:
### retrieve data
courses=courses.find() ##it will return cursor
for course in courses:
    print(course)
    #pprint.pprint(course)

{'_id': ObjectId('5f578fbf00b15a19c526f4d7'), 'author': 'harsh', 'course': 'mongo-tut', 'price': 100}
{'_id': ObjectId('5f578fbf00b15a19c526f4d8'), 'name': 'Max Schwarzmueller', 'age': 29}
{'_id': ObjectId('5f578fbf00b15a19c526f4d9'), 'name': 'Manu Lorenz', 'age': 30}
{'_id': ObjectId('5f578fbf00b15a19c526f4da'), 'name': 'Chris Hayton', 'age': 35}
{'_id': ObjectId('5f578fbf00b15a19c526f4db'), 'name': 'Sandra Brugge', 'age': 33}
{'_id': ObjectId('5f578fbf00b15a19c526f4dc'), 'name': 'Elisabeth Mayr', 'age': 29}
{'_id': ObjectId('5f578fbf00b15a19c526f4dd'), 'name': 'Frank Cube', 'age': 41}
{'_id': ObjectId('5f578fbf00b15a19c526f4de'), 'name': 'Karandeep Alun', 'age': 48}
{'_id': ObjectId('5f578fbf00b15a19c526f4df'), 'name': 'Michaela Drayer', 'age': 39}
{'_id': ObjectId('5f578fbf00b15a19c526f4e0'), 'name': 'Bernd Hoftstadt', 'age': 22}
{'_id': ObjectId('5f578fbf00b15a19c526f4e1'), 'name': 'Scott Tolib', 'age': 44}
{'_id': ObjectId('5f578fbf00b15a19c526f4e2'), 'name': 'Freddy Melver', 'age': 41}
{'_id': ObjectId('5f578fbf00b15a19c526f4e3'), 'name': 'Alexis Bohed', 'age': 35}
{'_id': ObjectId('5f578fbf00b15a19c526f4e4'), 'name': 'Melanie Palace', 'age': 27}
{'_id': ObjectId('5f578fbf00b15a19c526f4e5'), 'name': 'Armin Glutch', 'age': 35}
{'_id': ObjectId('5f578fbf00b15a19c526f4e6'), 'name': 'Klaus Arber', 'age': 53}
{'_id': ObjectId('5f578fbf00b15a19c526f4e7'), 'name': 'Albert Twostone', 'age': 68}
{'_id': ObjectId('5f578fbf00b15a19c526f4e8'), 'name': 'Gordon Black', 'age': 38}